{:company/legal-name "Kinder Morgan, Inc."
 :company/lei "549300WR7IX8XE0TBO16"
 :company/jurisdiction "US-DE"
 :company/website "https://www.kindermorgan.com"
 :company/ticker "KMI (NYSE)"
 :company/inquiry-form-url "https://www.kindermorgan.com/Contact-Us"}
